@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt_sans.eot');
  src:
    url('../fonts/pt_sans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pt_sans.woff2') format('woff2'),
    url('../fonts/pt_sans.woff') format('woff'),
    url('../fonts/pt_sans.ttf') format('truetype'),
    url('../fonts/pt_sans.svg#pt_sans') format('svg');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt_sans_bold.eot');
  src:
    url('../fonts/pt_sans_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pt_sans_bold.woff2') format('woff2'),
    url('../fonts/pt_sans_bold.woff') format('woff'),
    url('../fonts/pt_sans_bold.ttf') format('truetype'),
    url('../fonts/pt_sans_bold.svg#pt_sans_bold') format('svg');
}

@font-face {
  font-family: 'Bienetresocial';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bienetresocial.eot');
  src:
    url('../fonts/bienetresocial.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bienetresocial.woff2') format('woff2'),
    url('../fonts/bienetresocial.woff') format('woff'),
    url('../fonts/bienetresocial.ttf') format('truetype'),
    url('../fonts/bienetresocial.svg#bienetresocial') format('svg');
}

@font-face {
  font-family: 'Bienetresocial';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bienetresocial_bold.eot');
  src:
    url('../fonts/bienetresocial_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bienetresocial_bold.woff2') format('woff2'),
    url('../fonts/bienetresocial_bold.woff') format('woff'),
    url('../fonts/bienetresocial_bold.ttf') format('truetype'),
    url('../fonts/bienetresocial_bold.svg#bienetresocial_bold') format('svg');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt_sans_narrow.eot');
  src:
    url('../fonts/pt_sans_narrow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pt_sans_narrow.woff2') format('woff2'),
    url('../fonts/pt_sans_narrow.woff') format('woff'),
    url('../fonts/pt_sans_narrow.ttf') format('truetype'),
    url('../fonts/pt_sans_narrow.svg#pt_sans_narrow') format('svg');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt_sans_narrow_bold.eot');
  src:
    url('../fonts/pt_sans_narrow_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pt_sans_narrow_bold.woff2') format('woff2'),
    url('../fonts/pt_sans_narrow_bold.woff') format('woff'),
    url('../fonts/pt_sans_narrow_bold.ttf') format('truetype'),
    url('../fonts/pt_sans_narrow_bold.svg#pt_sans_narrow_bold') format('svg');
}